<div style="height: 100vh; width: 100%;" class="d-flex justify-content-center">

  <style>

    h1 { color: #82a0e0; font-family: "Nunito Sans", "Helvetica Neue",
    sans-serif; font-weight: 900; font-size: 40px; margin-bottom: 10px; } p {
    color: #404F5E; font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px; margin: 0; } .checkmark { color: #82a0e0; font-size: 100px;
    line-height: 200px; margin-left:-15px; } .card { background: #f5f5f9;
    padding: 60px; display: inline-block; margin: 0 auto; }
  </style>

  <div class="card">

    <div style="height:200px; width:100%; background: #f5f5f9; margin:0 auto;">
      <img src="" alt="">
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>We received your purchase request;<br /> we'll be in touch shortly!</p>

  </div>

  <div
    style="position: absolute;
    top: 80vh;"
  >
    <button class="btn btn-primary"><a
        style=" text-decoration: none; color: rgb(255, 255, 255);"
        href="/"
      >Go Back</a></button>

    <button class="btn btn-secondary"><a
        style="text-decoration: none; color: rgb(255, 255, 255);"
        href="/OrderDetails"
      >Show Order</a></button>
  </div>

</div>